/* Humanitarian.css */

.page-header {
  background-image: url("../Images/hum1.png");
  background-size: cover;
  background-position: center;
  text-align: center;
  color: #fff;
  padding: 100px 0;
}

section {
  display: flex;
  align-items: center;
  margin: 40px 0;
}

.detailcontainer {
  flex: 1;
}

.img-container {
  flex: 1;
  margin-right: 40px;
}

.img-container img {
  max-width: 100%;
}

section h2 {
  font-size: 32px;
  margin-bottom: 10px;
  color: #e75c0b;
}
.h2 {
  margin: 80px 20px;
  font-size: 23px;
}
.h2 span {
  color: #e75c0b;
  font-size: 30px;
}

section p {
  font-size: 16px;
  line-height: 1.7;
  text-align: justify;
}
.medsec-co {
  display: flex;
  width: 97%;
  margin: auto;
  margin-bottom: 30px;
}
.med1img-co {
  flex: 1;
  margin-right: 20px;
}
.med1img {
  height: 100%;
  width: 100%;
}
.meddesc-co {
  flex: 1;
}

@media (max-width: 768px) {
  section {
    flex-direction: column;
  }

  .img-container {
    margin-right: 0;
    margin-bottom: 20px;
    text-align: center;
  }
}
