.login-container {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  width: max-content;
  border-radius: 4px;
  min-height: 90vh;
}

.login-container h2 {
  text-align: center;
  margin-bottom: 40px;
}

.login-form {
  display: flex;
  flex-direction: column;
}

.login-form input {
  padding: 15px;
  margin: 10px 0;
  border-radius: 4px;
  border: 1px solid #ccc;
}

.login-form button {
  background: blue;
  color: white;
  border: none;
  border-radius: 4px;
  padding: 10px 20px;
  margin-top: 20px;
}

@media (max-width: 600px) {
  .login-form {
    padding: 20px;
  }

  .login-form input {
    padding: 5px 10px;
    font-size: 16px;
  }

  .login-form button {
    padding: 5px 10px;
    font-size: 16px;
  }
}
